<div class="container-fluid d-flex justify-content-center p-3 mt-1">
    <div class="card w-50 mt-3 bg-light p-3 text-center">
        <h2>User Profile</h2>
        <div class="card align-items-center justify-content-center bg-white mt-3 p-3 text-center">
            <i  class="profile-img fas fa-user-circle mb-3"></i>
            <p>ID: {{user.id}}</p>
            <p>Username: {{user.username}}</p>
            <p>Role: {{user.role}}</p>
            <p>Position: {{user.position}}</p>
            <p>Department: {{user.department}}</p>
            <p>Phone Number: {{user.phoneNumber}}</p>
            <div class="d-flex justify-content-between">
                <button class="btn btn-block btn-primary me-3">Back to Kanban Board</button>
                <button (click)="logout()" class="btn btn-block btn-danger">Logout</button>
            </div>
        </div>
        
    </div>
</div>